/* default element styling */

button{
    min-height: 10vh;
    min-width: 25vh;
}

#startGameButton{
    min-height: 7vh;
    min-width: 14vh;
    color: whitesmoke;
    border-color: black;
    background-color: blueviolet;
    border-radius: 20px;
}