/* form and input styling */
/* #options{
    opacity: 0;
} */

body {
    background-color: #D9F6F9;
}    

#playerName{
    min-height: 6vh;
    min-width: 16vh;
    color: black;
    border-color: #35CE8D;
    background-color: whitesmoke;
    border-radius: 10px;
}

#startGameButton{
    min-height: 6vh;
    min-width: 14vh;
    color: black;
    border-color: #35CE8D;
    background-color: #35CE8D;
    border-radius: 10px;
}