/* positioning and arranging content blocks */
h1{
    padding-bottom: 20px;
}

#score-board {
    border: 2px solid #1928f5;
    border-radius: 10px;
    padding: 20px;
    width: 250px; 
    background-color: #fcede2;
}
  
h1::after {
    content: '';
    display: block;
    border-bottom: 2px solid #050505;
    width: 100%;
}

#options{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 25px;
}

.map-image {
    width: 600px;
    height: 300px; 
    margin: 30px 0;
    object-fit: fit;
}

#homeButton {
    align-items: center;
}